* {
  margin: 0;
  padding: 0;
}

.about-cont {
  display: flex;
}
.about.pic {
  display: flex;
  float: right;
}
.about-text {
  float: left;
  padding: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
