* {
  margin: 0;
  padding: 0;
}
.about-cont {
  display: flex;
}
.abou-desc {
  padding-left: 20px !important;
  padding-top: 200px;
  text-align: center;
  align-items: center;
  height: auto;
}
.title {
  padding-left: 50px;
  text-decoration: underline;
}
